body {
  background-color: LightBlue;
  background-image: url(../resource/Elvenar-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

.bg-elvenar {
  background-color: LightBlue;
}

.dataTable th {
  background-color: #555555;
  border: 1px solid LightGray;
  color: White;
  padding-left: 4px;
  padding-right: 4px;
}

.dataTable td {
  border: 1px solid LightGray;
  padding-left: 4px;
  padding-right: 4px;
}